@import '../../../../../scss/main';

.asian_adventures_parent {
    margin-top: 60px;
    position: relative;

    .asian_adventures_bg {
        width: 100%;
        height: 949px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .asian_adventures_main {
        width: 1320px;
        position: absolute;
        top: 22.5%;
        left: 0;
        display: flex;
        padding: 100px 0 60px;
        background-color: #ffffff;

        .asian_adventures_left {
            max-width: 870px;
            height: 579px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .asian_adventures_right {
            max-width: 360px;
            height: 579px;

            .asian_adventures_right_text {
                margin: 45px;
                padding: 30px 22.5px;
                text-align: center;
                width: 315px;

                h1 {
                    margin-top: 50px;
                    @include font-24;
                    text-transform: uppercase;
                }

                h2 {
                    width: 130px;
                    padding-top: 20px;
                    border-bottom: 1px solid black;
                }

                p {
                    padding: 20px 0 20px 0;
                    @include ptag;
                    letter-spacing: .03125rem;
                }

                button {
                    @include btn-white-black;
                }
            }
        }
    }
}
@media(max-width:768px) {
    .asian_adventures_parent {
        .asian_adventures_bg {
            display: none;
        }
        .asian_adventures_main {
            position: relative;
            padding: 60px 30px;
            width: 768px;
            gap: 30px;
            .asian_adventures_left {
                width: 370px;
                height: 440px;
                img{
                    width: 100%;
                    height: 100&;
                }
            }

            .asian_adventures_right {
                height: 400px;
                .asian_adventures_right_text {
                    margin: 0;
                    padding: 30px 22.5px 30px 0;
                    h1{
                        margin: 0;
                    }

                }
            }
        }
    }
}

@media(max-width:576px) {
    .asian_adventures_parent {
        .asian_adventures_bg {
            display: none;
        }

        .asian_adventures_main {
            padding: 0 20px;
            width: 390px;
            flex-direction: column-reverse;
            .asian_adventures_left {
                width: 350px;
                height: 250px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .asian_adventures_right {
                max-width: 350px;
                height: 370px;

                .asian_adventures_right_text {
                    padding: 0 20px;
                    margin: 0;

                    h1 {
                        margin: 0;
                    }
                }
            }
        }
    }
}