:root{
    --border--color--bottom: #6a6a6a;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-gray: gray;
    --ptag--color: #262626;

    --button--background-color-black: #000000;
    --button--background-color-gray: gray;
    --button--background-color-white: #ffffff;
    --button--font-color-white:#ffffff;
    --button--font-color-black: #000000;
}